// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// .bible-icon {
//     display: inline;
    // position: relative;
    // right: 75px;
    // top: 50px;
// }
.chapter-select {
    color: white;
    position: relative;
    top: 5px;
}

.chapter-select-number {
    background-color: #7e2623;
}

.chapter-select-number:hover {
    cursor: pointer;
    font-size: larger;
}

.highlight {
    background-color: green;
}

.leaf {
    text-align: center;
}

.leaf button {
    height: 100%;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.underlined {
    text-decoration: underline;
}

.verse:hover {
    background-color: greenyellow;
}

#chapter-text {
    padding-bottom: 50px;
}

#highlight-component {
    position: fixed;
    bottom: 0;
    background-color: yellow;
    padding: 10px;
}

// .index {
//     display: inline;
//     list-style: none;
// }