// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Caudex', serif;
    font-size: 1.4rem;
}

div#index-card {
    height: 500px;
    overflow: scroll;
}

@media only screen and (max-width: 1050px) {
    div#index-card {
        height: 100%;
    }
}

button#dropdownMenuButton {
    color: white;
}

@media only screen and (max-width: 575px) {
    button#dropdownMenuButton {
        font-size: .7rem;
        font-weight: bold;
    }
}

.chapter-select-number {
    background-color: #ffffff;
    padding: 3px;
}

.chapter-select-number:hover {
    cursor: pointer;
    font-size: larger;
}

.dropdown-menu.show {
    background-color: rgba(0,0,0,0);
    width: 75vw;
    border: none;
    margin-left: 12vw;
    text-align: center;
}

.highlight {
    background-color: #00ff00;
    border-radius: 15px;
    color:black;
}

.leaf {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.leaf-btn {
    height: 100%;
}

.search-context {
    color:red;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
}

.underlined {
    border-bottom:#7e2623 dotted 3px;
}

.v-contain{
    margin-bottom: -.8rem;
}

.verse {
    padding-bottom: .2rem;
    padding-left: .6rem;
    padding-top: .1rem;
}

.verse:hover {
    background-color: #ecececbd;
    border-radius: 15px;
    box-shadow: 5px 5px #6e6f54;
    margin: .5em 0px;
    cursor: pointer;
}

.verse:target {
    background-color: yellowgreen;
}

#chapter-text {
    padding-bottom: 50px;
    padding-top: 1em
}

#highlight-component {
    position: fixed;
    bottom: 0;
    background-color: yellow;
    padding: 10px;
}